footer {
  color: $gray-light;
  font-size: 0.875rem;
  text-align: center;
  padding: 2rem;
  background: $gray-dark-bg;
  strong {
    color: $gray-medium;
  }
  .footer-links {
    margin-bottom: 1.5rem;
    a {
      margin: 0 0.5rem;
      color: $gray-medium;
    }
  }
}
