header {
  background: rgba(255,255,255, 0.5);
  padding: 1.25rem 0rem;
  box-shadow: 0rem 0.5rem 1.125rem rgba(0, 0, 0, 0.033);
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 1100;
  animation: slideUp 300ms linear;
  .container {
    display: flex;
    display: -webkit-flex;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  @media (max-width: 61.9375rem) {
    padding: 1rem;
    .container {
      padding: 0;
    }
  }
  @media (max-width: 30rem) {
    padding: 0.5rem 0.75rem;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(1.875rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
// Logo
.brand .logo {
  width: 7.6875rem;
  @media (max-width: 30rem) {
    width: 6.375rem;
    margin: 0.125rem 0;
  }
}

// Search Box
.search {
  margin-left: 4rem;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  @media (max-width: 47.9375rem) {
    margin-left: 2rem;
  }
  @media (max-width: 30rem) {
    flex-grow: initial;
    -webkit-flex-grow: initial;
    margin-left: auto;
  }
}
.search-form {
  display: flex;
  display: -webkit-flex;
  @media (max-width: 30rem) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: #fff;
    z-index: 100;
    &.active {
      display: flex;
      display: -webkit-flex;
    }
  }
  .search-keyword {
    height: 2.25rem;
    border: 0.0625rem solid #9c27b0;
    padding: 0 1rem;
    border-radius: 0.125rem 0 0 0.125rem;
    width: 100%;
    max-width: 27.75rem;
    &:focus {
      outline: none;
    }
    @media (max-width: 30rem) {
      height: 2rem;
      margin: 0.125rem 0;
    }
  }
}
@media (min-width: 30.0625rem) {
  .mobile-search,
  .back-button {
    display: none;
  }
}
@media (max-width: 30rem) {
  .mobile-search {
    display: block;
    height: 2.25rem;
    width: 2.25rem;
  }
  .back-button {
    display: block;
    margin-right: 0.5rem;
  }
}

// Cart
.cart {
  display: flex;
  display: -webkit-flex;
  margin-left: 4rem;
  position: relative;
  z-index: 99;
  @media (max-width: 61.9375rem) {
    margin-left: 1rem;
  }
}
.cart-info {
  @media (max-width: 61.9375rem) {
    display: none;
  }
}
.cart-info table {
  font-size: 0.875rem;
  color: #9c27b0;
  text-align: right;
  tr {
    padding: 0;
    margin: 0;
  }
  td {
    padding: 0 0.25rem;
    line-height: 1rem;
  }
}
.cart-icon {
  margin-left: 1rem;
  z-index: 99;
  position: relative;
}
.cart-count {
  @media (min-width: 62rem) {
    display: none;
  }
  @media (max-width: 61.9375rem) {
    display: block;
    position: absolute;
    background: $primary-orange;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 0.75rem;
    color: #fff;
    width: 1.5rem;
    border-radius: 50%;
    top: -0.375rem;
    right: -0.5625rem;
  }
}
.cart-preview {
  display: none;
  background: $white;
  border: 0.0625rem solid $gray-eighty;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: -0.5625rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid $gray-eighty;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: -0.4375rem;
    right: 0.5625rem;
    width: 0;
    height: 0;
    border-left: 0.4375rem solid transparent;
    border-right: 0.4375rem solid transparent;
    border-bottom: 0.4375rem solid $white;
    z-index: 1;
  }
}
.cart-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 22.5rem;
  height: 24.25rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
  @media (max-width: 25rem) {
    top: 2.8125rem;
    width: 100%;
    min-width: 18.75rem;
    & > div {
      width: 100% !important;
    }
    .cart-items {
      width: 100%;
    }
    .stepper-input {
      a {
        display: none;
      }
    }
  }
}

.confirm {
  display: flex;
  display: -webkit-flex;
  margin-left: 4rem;
  position: relative;
  z-index: 99;
  @media (max-width: 61.9375rem) {
    margin-left: 1rem;
  }
}

.confirm-preview {
  display: none;
  background: $white;
  border: 0.0625rem solid $gray-eighty;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: -0.5625rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid $gray-eighty;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: -0.4375rem;
    right: 0.5625rem;
    width: 0;
    height: 0;
    border-left: 0.4375rem solid transparent;
    border-right: 0.4375rem solid transparent;
    border-bottom: 0.4375rem solid $white;
    z-index: 1;
  }
}
.confirm-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 9.375rem;
  height: 4.375rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
  @media (max-width: 25rem) {
    top: 2.8125rem;
    width: 100%;
    min-width: 18.75rem;
    & > div {
      width: 100% !important;
    }
    .cart-items {
      width: 100%;
    }
    .stepper-input {
      a {
        display: none;
      }
    }
  }
}

.confirm-preview.two {
    right: 4.375rem;
}

.action-block {
  background: $white;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  button {
    background: $primary-orange;
    display: block;
    width: 100%;
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
.empty-cart {
  text-align: center;
  img {
    width: 100%;
    max-width: 15.625rem;
    margin: 2.625rem auto 1rem auto;
  }
  h2 {
    color: $gray-light;
    font-size: 1.125rem;
  }
}
.cart-items {
  height: 20rem;
  width: 22.5rem;
}
.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 0.5rem;
  .product-image {
    width: 3rem;
    height: 3rem;
  }
  .product-info {
    margin-left: 1rem;
    flex-grow: 1;
    .product-name {
      color: $gray-light;
      font-size: 0.875rem;
    }
    .product-price {
      color: $gray-light;
      font-weight: 700;
      &:before {
        content: "$";
      }
    }
  }
  .product-total {
    margin-left: 1rem;
    .quantity {
      color: $gray-light;
      font-size: 0.875rem;
      text-align: right;
    }
    .amount {
      color: $gray-dark;
      font-weight: 700;
      text-align: right;
      &:before {
        content: "$";
      }
    }
  }
  .product-remove {
    margin-left: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 1.5rem;
    font-size: 1.375rem;
    color: $gray-eighty;
    text-align: center;
    &:hover {
      color: $red;
    }
  }
  &:hover {
    background: $green-light-bg;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  10%,
  20% {
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.tada {
  animation-name: tada;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
