.modal-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  &.active {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
  }
  .modal {
    width: 100%;
    max-width: 33.25rem;
    margin: 1rem;
    background: #fff;
    position: relative;
    border-radius: 0.25rem;
  }
  .close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    border-radius: 0 0.25rem 0 0;
    background: transparent;
    color: $gray-medium;
    &:hover {
      background: $gray-dark-bg;
    }
  }
}
.quick-view-details {
  padding: 1.5rem;
  background: $gray-medium-bg;
  border-radius: 0 0 0.25rem 0.25rem;
  .product-price {
    font-size: 1.125rem;
  }
  .product-price {
    color: $primary-green;
    font-weight: bold;
    font-size: 1.5rem;
    float: right;
    &:before {
      content: "₹ ";
    }
  }
}
.quick-view-image {
  img {
    width: 100%;
    max-width: 31.25rem;
    margin: 0 auto;
    display: block;
    border-radius: 0.25rem 0.25rem 0 0;
  }
}
