#main-container {
  width: 60%;
  min-width: 45.3125rem;
  max-width: 45.3125rem;
}

#item-container {
  width: 65%;
  min-width: 12.5rem;
}

#maskedInput {
  -webkit-text-security: disc;
  letter-spacing: 0.0313rem;
  font: 0.9375rem Verdana;
}

#name-container {
  display: inline-block;
}

.login:before {
  background-color: #7BB771;
  -webkit-transition: 0.5s;
  transform: scaleX(0);
  position: absolute;
  transition: 0.5s;
  bottom: -0.1875rem;
  width: 100%;
  height: 0.125rem;
  content: "";
}

.login {
  -webkit-transition: 0.5s;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: #7BB771;
}

.login:hover:before {
  background-color: #4B7F3F;
  transform: scaleX(1);
  visibility: visible;
}

.login:hover {
  color: #4B7F3F;
}

#usedEmail {
  font-weight: 400;
  font-size: 0.6875rem;
  color: #DD6247;
  float: left;
  padding: 0;
  margin: 0;
}

.large-space-top {
  margin-top: 2.5rem;
}

.small-space-top {
  margin-top: 0.9375rem;
}

.right {
  float: right;
}

.left {
  float: left;
}
