html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto;
  font-size: 1rem;
  color: #333;
  background: #f5f5f5; }

* {
  box-sizing: border-box; }

::selection {
  background: #9c27b0;
  color: #fff; }

::-moz-selection {
  background: #9c27b0;
  color: #fff;
  text-shadow: none; }

input[type="number"] {
  -moz-appearance: textfield;
  margin: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

strong {
  font-weight: 700; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

ul {
  list-style: none; }

button {
  height: 2.25rem;
  border-radius: 0.125rem;
  text-align: center;
  color: #fff;
  background: #9c27b0;
  border: 0;
  font-weight: 400;
  padding: 0 1rem;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer; }
  button:hover {
    background: #bc37d3; }
  button:focus {
    outline: none; }
  button:active {
    background: #c34cd7; }

input,
select {
  font-size: inherit;
  font-family: inherit; }

form {
  margin: 0; }

header {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.25rem 0rem;
  box-shadow: 0rem 0.5rem 1.125rem rgba(0, 0, 0, 0.033);
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 1100;
  animation: slideUp 300ms linear; }
  header .container {
    display: flex;
    display: -webkit-flex;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem; }
  @media (max-width: 61.9375rem) {
    header {
      padding: 1rem; }
      header .container {
        padding: 0; } }
  @media (max-width: 30rem) {
    header {
      padding: 0.5rem 0.75rem; } }

@keyframes slideUp {
  0% {
    transform: translateY(1.875rem);
    opacity: 0.5; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.brand .logo {
  width: 7.6875rem; }
  @media (max-width: 30rem) {
    .brand .logo {
      width: 6.375rem;
      margin: 0.125rem 0; } }

.search {
  margin-left: 4rem;
  flex-grow: 1;
  -webkit-flex-grow: 1; }
  @media (max-width: 47.9375rem) {
    .search {
      margin-left: 2rem; } }
  @media (max-width: 30rem) {
    .search {
      flex-grow: initial;
      -webkit-flex-grow: initial;
      margin-left: auto; } }

.search-form {
  display: flex;
  display: -webkit-flex; }
  @media (max-width: 30rem) {
    .search-form {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0.5rem;
      background: #fff;
      z-index: 100; }
      .search-form.active {
        display: flex;
        display: -webkit-flex; } }
  .search-form .search-keyword {
    height: 2.25rem;
    border: 0.0625rem solid #9c27b0;
    padding: 0 1rem;
    border-radius: 0.125rem 0 0 0.125rem;
    width: 100%;
    max-width: 27.75rem; }
    .search-form .search-keyword:focus {
      outline: none; }
    @media (max-width: 30rem) {
      .search-form .search-keyword {
        height: 2rem;
        margin: 0.125rem 0; } }

@media (min-width: 30.0625rem) {
  .mobile-search,
  .back-button {
    display: none; } }

@media (max-width: 30rem) {
  .mobile-search {
    display: block;
    height: 2.25rem;
    width: 2.25rem; }
  .back-button {
    display: block;
    margin-right: 0.5rem; } }

.cart {
  display: flex;
  display: -webkit-flex;
  margin-left: 4rem;
  position: relative;
  z-index: 99; }
  @media (max-width: 61.9375rem) {
    .cart {
      margin-left: 1rem; } }

@media (max-width: 61.9375rem) {
  .cart-info {
    display: none; } }

.cart-info table {
  font-size: 0.875rem;
  color: #9c27b0;
  text-align: right; }
  .cart-info table tr {
    padding: 0;
    margin: 0; }
  .cart-info table td {
    padding: 0 0.25rem;
    line-height: 1rem; }

.cart-icon {
  margin-left: 1rem;
  z-index: 99;
  position: relative; }

@media (min-width: 62rem) {
  .cart-count {
    display: none; } }

@media (max-width: 61.9375rem) {
  .cart-count {
    display: block;
    position: absolute;
    background: #fc7710;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 0.75rem;
    color: #fff;
    width: 1.5rem;
    border-radius: 50%;
    top: -0.375rem;
    right: -0.5625rem; } }

.cart-preview {
  display: none;
  background: #fff;
  border: 0.0625rem solid #ccc; }
  .cart-preview:before {
    content: "";
    position: absolute;
    display: block;
    top: -0.5625rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #ccc;
    z-index: 1; }
  .cart-preview:after {
    content: "";
    position: absolute;
    display: block;
    top: -0.4375rem;
    right: 0.5625rem;
    width: 0;
    height: 0;
    border-left: 0.4375rem solid transparent;
    border-right: 0.4375rem solid transparent;
    border-bottom: 0.4375rem solid #fff;
    z-index: 1; }

.cart-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 22.5rem;
  height: 24.25rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.375rem 0.375rem rgba(0, 0, 0, 0.23); }
  @media (max-width: 25rem) {
    .cart-preview.active {
      top: 2.8125rem;
      width: 100%;
      min-width: 18.75rem; }
      .cart-preview.active > div {
        width: 100% !important; }
      .cart-preview.active .cart-items {
        width: 100%; }
      .cart-preview.active .stepper-input a {
        display: none; } }

.confirm {
  display: flex;
  display: -webkit-flex;
  margin-left: 4rem;
  position: relative;
  z-index: 99; }
  @media (max-width: 61.9375rem) {
    .confirm {
      margin-left: 1rem; } }

.confirm-preview {
  display: none;
  background: #fff;
  border: 0.0625rem solid #ccc; }
  .confirm-preview:before {
    content: "";
    position: absolute;
    display: block;
    top: -0.5625rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #ccc;
    z-index: 1; }
  .confirm-preview:after {
    content: "";
    position: absolute;
    display: block;
    top: -0.4375rem;
    right: 0.5625rem;
    width: 0;
    height: 0;
    border-left: 0.4375rem solid transparent;
    border-right: 0.4375rem solid transparent;
    border-bottom: 0.4375rem solid #fff;
    z-index: 1; }

.confirm-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 9.375rem;
  height: 4.375rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.375rem 0.375rem rgba(0, 0, 0, 0.23); }
  @media (max-width: 25rem) {
    .confirm-preview.active {
      top: 2.8125rem;
      width: 100%;
      min-width: 18.75rem; }
      .confirm-preview.active > div {
        width: 100% !important; }
      .confirm-preview.active .cart-items {
        width: 100%; }
      .confirm-preview.active .stepper-input a {
        display: none; } }

.confirm-preview.two {
  right: 4.375rem; }

.action-block {
  background: #fff;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%; }
  .action-block button {
    background: #fc7710;
    display: block;
    width: 100%; }
    .action-block button.disabled {
      opacity: 0.3;
      cursor: not-allowed; }

.empty-cart {
  text-align: center; }
  .empty-cart img {
    width: 100%;
    max-width: 15.625rem;
    margin: 2.625rem auto 1rem auto; }
  .empty-cart h2 {
    color: #999;
    font-size: 1.125rem; }

.cart-items {
  height: 20rem;
  width: 22.5rem; }

.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 0.5rem; }
  .cart-item .product-image {
    width: 3rem;
    height: 3rem; }
  .cart-item .product-info {
    margin-left: 1rem;
    flex-grow: 1; }
    .cart-item .product-info .product-name {
      color: #999;
      font-size: 0.875rem; }
    .cart-item .product-info .product-price {
      color: #999;
      font-weight: 700; }
      .cart-item .product-info .product-price:before {
        content: "$"; }
  .cart-item .product-total {
    margin-left: 1rem; }
    .cart-item .product-total .quantity {
      color: #999;
      font-size: 0.875rem;
      text-align: right; }
    .cart-item .product-total .amount {
      color: #333;
      font-weight: 700;
      text-align: right; }
      .cart-item .product-total .amount:before {
        content: "$"; }
  .cart-item .product-remove {
    margin-left: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 1.5rem;
    font-size: 1.375rem;
    color: #ccc;
    text-align: center; }
    .cart-item .product-remove:hover {
      color: #e23d3d; }
  .cart-item:hover {
    background: #9c27b0; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0; }
  10%,
  20% {
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

.tada {
  animation-name: tada;
  animation-duration: 300ms;
  animation-fill-mode: both; }

.product {
  background: #fff;
  margin: 1rem;
  border-radius: 0.125rem; }
  .product .product-name {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0.5rem; }
  .product .product-price {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.375rem;
    margin-bottom: 1rem; }
    .product .product-price:before {
      content: "$"; }
  .product .product-name,
  .product .product-price {
    color: #666;
    padding: 0 1rem;
    text-align: center; }
  .product .product-action {
    padding: 1rem; }
    .product .product-action button {
      width: 100%;
      transition: all 300ms ease-in; }
      .product .product-action button.added {
        background: #999; }
  .product:hover {
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23); }

.stepper-input {
  display: flex;
  display: -webkit-flex;
  color: #666;
  max-width: 7.5rem;
  margin: 0 auto; }
  .stepper-input .increment,
  .stepper-input .decrement {
    height: 1.5rem;
    width: 1.5rem;
    border: 0.0625rem solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    line-height: 1.375rem;
    -moz-user-select: none;
    -webkit-user-select: none; }
    .stepper-input .increment:hover,
    .stepper-input .decrement:hover {
      color: #9c27b0;
      border-color: #9c27b0; }
    .stepper-input .increment:active,
    .stepper-input .decrement:active {
      color: #fff;
      border-color: #9c27b0;
      background: #c34cd7; }
  .stepper-input .quantity {
    height: 1.5rem;
    width: 3rem;
    text-align: center;
    margin: 0 0.75rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #ccc; }
    .stepper-input .quantity:focus {
      outline: none;
      border-color: #9c27b0; }

footer {
  color: #999;
  font-size: 0.875rem;
  text-align: center;
  padding: 2rem;
  background: #dddddd; }
  footer strong {
    color: #666; }
  footer .footer-links {
    margin-bottom: 1.5rem; }
    footer .footer-links a {
      margin: 0 0.5rem;
      color: #666; }

#main-container {
  width: 60%;
  min-width: 45.3125rem;
  max-width: 45.3125rem; }

#item-container {
  width: 65%;
  min-width: 12.5rem; }

#maskedInput {
  -webkit-text-security: disc;
  letter-spacing: 0.0313rem;
  font: 0.9375rem Verdana; }

#name-container {
  display: inline-block; }

.login:before {
  background-color: #7BB771;
  -webkit-transition: 0.5s;
  transform: scaleX(0);
  position: absolute;
  transition: 0.5s;
  bottom: -0.1875rem;
  width: 100%;
  height: 0.125rem;
  content: ""; }

.login {
  -webkit-transition: 0.5s;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: #7BB771; }

.login:hover:before {
  background-color: #4B7F3F;
  transform: scaleX(1);
  visibility: visible; }

.login:hover {
  color: #4B7F3F; }

#usedEmail {
  font-weight: 400;
  font-size: 0.6875rem;
  color: #DD6247;
  float: left;
  padding: 0;
  margin: 0; }

.large-space-top {
  margin-top: 2.5rem; }

.small-space-top {
  margin-top: 0.9375rem; }

.right {
  float: right; }

.left {
  float: left; }
