html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto;
  font-size: 16px;
  color: #333;
  background: #f5f5f5; }

* {
  box-sizing: border-box; }

::selection {
  background: #9c27b0;
  color: #fff; }

::-moz-selection {
  background: #9c27b0;
  color: #fff;
  text-shadow: none; }

input[type="number"] {
  -moz-appearance: textfield;
  margin: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

strong {
  font-weight: 700; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

ul {
  list-style: none; }

button {
  height: 36px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background: #9c27b0;
  border: 0;
  font-weight: 400;
  padding: 0 16px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer; }
  button:hover {
    background: #bc37d3; }
  button:focus {
    outline: none; }
  button:active {
    background: #c34cd7; }

input,
select {
  font-size: inherit;
  font-family: inherit; }

form {
  margin: 0; }

header {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 0px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 1100;
  animation: slideUp 300ms linear; }
  header .container {
    display: flex;
    display: -webkit-flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px; }
  @media (max-width: 991px) {
    header {
      padding: 16px; }
      header .container {
        padding: 0; } }
  @media (max-width: 480px) {
    header {
      padding: 8px 12px; } }

@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0.5; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.brand .logo {
  width: 123px; }
  @media (max-width: 480px) {
    .brand .logo {
      width: 102px;
      margin: 2px 0; } }

.search {
  margin-left: 64px;
  flex-grow: 1;
  -webkit-flex-grow: 1; }
  @media (max-width: 767px) {
    .search {
      margin-left: 32px; } }
  @media (max-width: 480px) {
    .search {
      flex-grow: initial;
      -webkit-flex-grow: initial;
      margin-left: auto; } }

.search-form {
  display: flex;
  display: -webkit-flex; }
  @media (max-width: 480px) {
    .search-form {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 8px;
      background: #fff;
      z-index: 100; }
      .search-form.active {
        display: flex;
        display: -webkit-flex; } }
  .search-form .search-keyword {
    height: 36px;
    border: 1px solid #9c27b0;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 100%;
    max-width: 444px; }
    .search-form .search-keyword:focus {
      outline: none; }
    @media (max-width: 480px) {
      .search-form .search-keyword {
        height: 32px;
        margin: 2px 0; } }

@media (min-width: 481px) {
  .mobile-search,
  .back-button {
    display: none; } }

@media (max-width: 480px) {
  .mobile-search {
    display: block;
    height: 36px;
    width: 36px; }
  .back-button {
    display: block;
    margin-right: 8px; } }

.cart {
  display: flex;
  display: -webkit-flex;
  margin-left: 64px;
  position: relative;
  z-index: 99; }
  @media (max-width: 991px) {
    .cart {
      margin-left: 16px; } }

@media (max-width: 991px) {
  .cart-info {
    display: none; } }

.cart-info table {
  font-size: 14px;
  color: #9c27b0;
  text-align: right; }
  .cart-info table tr {
    padding: 0;
    margin: 0; }
  .cart-info table td {
    padding: 0 4px;
    line-height: 16px; }

.cart-icon {
  margin-left: 16px;
  z-index: 99;
  position: relative; }

@media (min-width: 992px) {
  .cart-count {
    display: none; } }

@media (max-width: 991px) {
  .cart-count {
    display: block;
    position: absolute;
    background: #fc7710;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    top: -6px;
    right: -9px; } }

.cart-preview {
  display: none;
  background: #fff;
  border: 1px solid #ccc; }
  .cart-preview:before {
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    z-index: 1; }
  .cart-preview:after {
    content: "";
    position: absolute;
    display: block;
    top: -7px;
    right: 9px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 1; }

.cart-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 48px;
  right: 0;
  width: 360px;
  height: 388px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 400px) {
    .cart-preview.active {
      top: 45px;
      width: 100%;
      min-width: 300px; }
      .cart-preview.active > div {
        width: 100% !important; }
      .cart-preview.active .cart-items {
        width: 100%; }
      .cart-preview.active .stepper-input a {
        display: none; } }

.confirm {
  display: flex;
  display: -webkit-flex;
  margin-left: 64px;
  position: relative;
  z-index: 99; }
  @media (max-width: 991px) {
    .confirm {
      margin-left: 16px; } }

.confirm-preview {
  display: none;
  background: #fff;
  border: 1px solid #ccc; }
  .confirm-preview:before {
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    z-index: 1; }
  .confirm-preview:after {
    content: "";
    position: absolute;
    display: block;
    top: -7px;
    right: 9px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 1; }

.confirm-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 48px;
  right: 0;
  width: 150px;
  height: 70px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 400px) {
    .confirm-preview.active {
      top: 45px;
      width: 100%;
      min-width: 300px; }
      .confirm-preview.active > div {
        width: 100% !important; }
      .confirm-preview.active .cart-items {
        width: 100%; }
      .confirm-preview.active .stepper-input a {
        display: none; } }

.confirm.two {
  right: 240px; }

.action-block {
  background: #fff;
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%; }
  .action-block button {
    background: #fc7710;
    display: block;
    width: 100%; }
    .action-block button.disabled {
      opacity: 0.3;
      cursor: not-allowed; }

.empty-cart {
  text-align: center; }
  .empty-cart img {
    width: 100%;
    max-width: 250px;
    margin: 42px auto 16px auto; }
  .empty-cart h2 {
    color: #999;
    font-size: 18px; }

.cart-items {
  height: 320px;
  width: 360px; }

.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px; }
  .cart-item .product-image {
    width: 48px;
    height: 48px; }
  .cart-item .product-info {
    margin-left: 16px;
    flex-grow: 1; }
    .cart-item .product-info .product-name {
      color: #999;
      font-size: 14px; }
    .cart-item .product-info .product-price {
      color: #999;
      font-weight: 700; }
      .cart-item .product-info .product-price:before {
        content: "$"; }
  .cart-item .product-total {
    margin-left: 16px; }
    .cart-item .product-total .quantity {
      color: #999;
      font-size: 14px;
      text-align: right; }
    .cart-item .product-total .amount {
      color: #333;
      font-weight: 700;
      text-align: right; }
      .cart-item .product-total .amount:before {
        content: "$"; }
  .cart-item .product-remove {
    margin-left: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: #ccc;
    text-align: center; }
    .cart-item .product-remove:hover {
      color: #e23d3d; }
  .cart-item:hover {
    background: #9c27b0; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0; }
  10%,
  20% {
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

.tada {
  animation-name: tada;
  animation-duration: 300ms;
  animation-fill-mode: both; }

.product {
  background: #fff;
  margin: 16px;
  border-radius: 2px; }
  .product .product-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px; }
  .product .product-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px; }
    .product .product-price:before {
      content: "$"; }
  .product .product-name,
  .product .product-price {
    color: #666;
    padding: 0 16px;
    text-align: center; }
  .product .product-action {
    padding: 16px; }
    .product .product-action button {
      width: 100%;
      transition: all 300ms ease-in; }
      .product .product-action button.added {
        background: #999; }
  .product:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.stepper-input {
  display: flex;
  display: -webkit-flex;
  color: #666;
  max-width: 120px;
  margin: 0 auto; }
  .stepper-input .increment,
  .stepper-input .decrement {
    height: 24px;
    width: 24px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none; }
    .stepper-input .increment:hover,
    .stepper-input .decrement:hover {
      color: #9c27b0;
      border-color: #9c27b0; }
    .stepper-input .increment:active,
    .stepper-input .decrement:active {
      color: #fff;
      border-color: #9c27b0;
      background: #c34cd7; }
  .stepper-input .quantity {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid #ccc; }
    .stepper-input .quantity:focus {
      outline: none;
      border-color: #9c27b0; }

footer {
  color: #999;
  font-size: 14px;
  text-align: center;
  padding: 32px;
  background: #dddddd; }
  footer strong {
    color: #666; }
  footer .footer-links {
    margin-bottom: 24px; }
    footer .footer-links a {
      margin: 0 8px;
      color: #666; }
